service: laravel-serverless

provider:
  name: aws
  region: eu-west-1
  runtime: provided.al2
  environment:
    APP_KEY: ${ssm:/laravel-serverless/APP_KEY}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - ssm:GetParameter
      Resource:
        - arn:aws:ssm:eu-west-1:540649422934:parameter/laravel-serverless/APP_KEY

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: index.php
    timeout: 28
    layers:
      - ${bref:layer.php-82-fpm}
      - ${bref:layer.console}   # console layer voor artisan commands
    events:
      - httpApi: '*'
