service: laravel-serverless

provider:
  name: aws
  region: eu-west-1
  runtime: provided.al2

plugins:
  - ./vendor/bref/bref

functions:
  laravel:
    handler: index.php
    timeout: 28
    layers:
      - ${bref:layer.php-82-fpm}
      - ${bref:layer.http}
    events:
      - httpApi: '*'
