service: laravel-serverless

provider:
  name: aws
  region: eu-west-1
  runtime: provided.al2
  environment:
    APP_KEY: ${env:APP_KEY}

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: index.php
    timeout: 28
    layers:
      - ${bref:layer.php-82-fpm}
      - ${bref:layer.console}
    events:
      - httpApi: '*'
