service: laravel-serverless

provider:
  name: aws
  region: eu-west-1
  runtime: provided.al2
  environment:
    # Gebruik GitHub secret SERVERLESS_APP_KEY als APP_KEY
    APP_KEY: ${env:SERVERLESS_APP_KEY}

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: index.php
    timeout: 28
    layers:
      - ${bref:layer.php-82-fpm}
      - ${bref:layer.console}   # console layer voor artisan commands
    events:
      - httpApi: '*'
