service: laravel-serverless

frameworkVersion: "4"

provider:
  name: aws
  region: eu-west-1
  runtime: php-82
  environment:
    APP_ENV: production
    APP_DEBUG: false

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: public/index.php
    timeout: 28
    events:
      - httpApi: '*'
